<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-13924-1659535695/blob/main/Sangeetha_assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
import math
int(math.pow(7,4))

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s="Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

In [ ]:
s="Hi there dad!"
s.split()

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
txt = "The diameter of {planet:} is {diameter:} kilometers."
print(txt.format(planet="Earth",diameter=12742))

The diameter of Earth is 12742 kilometers.

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

'hello'

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print("'"+lst[3][1][2][0]+"'")

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

'hello'

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print("'"+(d['k1'][3]['tricky'][3]['target'][3])+"'")

'hello'

** What is the main difference between a tuple and a list? **

Tuple is immutable whereas list is mutable
Tuple consumes less memory than list

### ** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

'domain.com'

In [ ]:
def domainGet(email):
    print("'"+email.split('@')[-1]+"'")

email = input()
domainGet(email)

user@domain.com
'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

True

In [ ]:
def findDog(ls):
  if 'dog' in ls:
    print(True)
  else:
    print(False)
word=input()
findDog(word.lower())

i love dog
True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

2

In [ ]:
value = 'Big dog is the mother my puppy dog';

def countdogs(value):
    count = 0
    for word in value.lower().split():
        if word == 'dog' or word == 'dogs':
            count = count + 1
    print(count)

countdogs(value)

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

'Big Ticket'

In [ ]:
caught_speeding(89,False)

'Big Ticket'

'Small Ticket'

In [ ]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [2]:
salary=[54100,15200,10080,80000,2700]
for i in salary:
  print(i)
print("the total salary expenditure:")
print(sum(salary))

54100
15200
10080
80000
2700
the total salary expenditure:
162080

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
def Merge(dict1, dict2):
    return(dict2.update(dict1))
dict1={'Empid':1,'Empname':'Rajaji','Basicpay':250000}
dict2={'Deptname':'Manufacturing','DeptId':250}
print(Merge(dict1, dict2))
print(dict2)

None
{'Deptname': 'Manufacturing', 'DeptId': 250, 'Empid': 1, 'Empname': 'Rajaji', 'Basicpay': 250000}