## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
ans = pow(7,4)
print(ans)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there Sam!"
s1=list(s.split(" "))
print(s1)

['Hi', 'there', 'Sam!']

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
print("The diameter of {} is {} kilometers".format(planet, diameter))

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
print(d['k1'][3]["tricky"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [ ]:
tuple = (1, 2, 3) # tuple is immutable
list = [1, 2, 3]  # list is mutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domain(email):
    print(email.split('@')[-1])

In [ ]:
email = input()
domain(email)

user@domain.com
domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def find(s):
    if 'dog' in s.lower():
        print("True")
    else:
        print("False")

In [ ]:
s= input()
find(s)

hi dog
True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def counts(s):
    count = 0
    for word in s.lower().split():
        if word == 'dog' or word == 'dogs':
            count = count + 1
    print(count)

In [ ]:
s = input()
counts(s)

hi dogs
1

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
print("speed:")
speed = int(input())

print("birthday: (in DD/MM/YYYY format)")
is_birthday = str(input())
caught_speeding(speed, is_birthday)

speed:
120
birthday: (in DD/MM/YYYY format)
20/07/2000

'Big Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [4]:
salary=[20000,15000,10000,8000,7000]
for i in salary:
  print(i)
print("the total salary expenditure:")
print(sum(salary))

20000
15000
10000
8000
7000
the total salary expenditure:
60000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [9]:
def Merge(dict1, dict2):
    return(dict2.update(dict1))
dict1 = {"Empid" : 123, "Empname" : "Reaia", "basicpay" : 1000}
dict2 = {"deptname" :"management", "Deptid": 360}
print(Merge(dict1, dict2))
print(dict2)

None
{'deptname': 'management', 'Deptid': 360, 'Empid': 123, 'Empname': 'Reaia', 'basicpay': 1000}